.sub-component {
  text-align: center;

  .sub-image {
    height: 140px;
    display:inline-block;
    box-sizing: border-box;
  }

  p {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    display:inline-block;
    box-sizing: border-box;
    margin: 10px 0 10px 0;
  }
}
