.weather-component {
  text-align: center;

  .weather-image {
    display: inline-block;
    width:96px;
    height:96px;
    vertical-align: middle;

  }

  .temperature {
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 80px;
    vertical-align: middle;
  }

}

.weather-attribution {
  text-align: center;
}
