.pantalla {
  width: 100%;
  height: 100%;
  position: fixed;

  .main {
    width:75%;
    height:100%;
    vertical-align:middle;
  }

  .sidebar {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 25%;
    color: #FFF;

    .branding-component {
      position: absolute;
      bottom: 55px;
      width:100%;

      .logo {
        width:100%;
      }

    }

  }
}
